/* Defined vars */
$window: $surface;
$window-active: $primary-darken-3;
/*$terminal-foreground: $foreground;*/
/*$terminal-background: $surface;*/

/* ANSI Normal Colors */
/*$terminal-black: $background-darken-2;
$terminal-red: $error;
$terminal-green: $success;
$terminal-yellow: $warning;
$terminal-blue: $secondary;
$terminal-magenta: $secondary-lighten-2;
$terminal-cyan: $primary-lighten-2;
$terminal-white: $foreground-lighten-2;
*/
/* ANSI Bright Colors */
/*$terminal-bright-black: $foreground-muted;
$terminal-bright-red: $error-lighten-1;
$terminal-bright-green: $success-lighten-1;
$terminal-bright-yellow: $warning-lighten-1;
$terminal-bright-blue: $secondary-lighten-1;
$terminal-bright-magenta: $secondary-lighten-3;
$terminal-bright-cyan: $primary-lighten-3;
$terminal-bright-white: $foreground-lighten-3;*/

Grid {
    grid-size: 3 3;
    grid-gutter: 0;
}
Footer {
    height: 1;
    position: absolute;
}
Button {
    min-width: 3;
}
.hidden, .minimized { display: none; }
/* ----- App (Move as Default CSS later) ----- */
Screen {
    layers: desktop windows active maxed fullscreen top flyout startmenu ui critical;
}
Desktop {
    layer: desktop;
    width: 100%;
    height: 100%;
    background: $primary-background;
    margin-bottom: 1; /* For Taskbar */
}
#background {
    layer: desktop;
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
}
#window-container {
    layer: windows;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
}
#window-container.float {
    hatch: "┼" $surface-lighten-1;
}
#window-container.vstack {
    hatch: horizontal $surface-lighten-1;
}
#window-container.hstack {
    hatch: "│" $surface-lighten-1;
}
#window-container.cascade {
    hatch: left $surface-lighten-1;
    align: center middle;
}
#window-container.bspS{
    hatch: cross $surface-lighten-1;
}
#window-container.ultra{
    hatch: "▏" $surface-lighten-1;
}
/* ---------- */
Window {
    layer: windows;
    min-height: 1;
    min-width: 10;
}
Window.float {
  /*  width: 80;
    height: 20;*/
    /*offset: 0 0;*/
    position: absolute;
}
Window.float.active {
    layer: active;
}
Window.vstack,
Window.hstack {
    min-height: 1;
    min-width: 1;
    offset-x: 0;
    offset-y: 0;
}
Window.cascade {
    width: 80%;
    height: 80%;
}
Window.cascade.active{
}
Window #title-bar{
    background: $window;
    color: $text-disabled;
    height: 1;
    border-left: panel $window;
    border-right: panel $window;
}
/*--------- Normal (Compatibility) Mode -------------*/
Window.active Executable {
    border: panel $window-active;
    border-top: none;
}
Window.active #title-bar{
    border-left: panel $window-active;
    border-right: panel $window-active;
}
/*--------- Bleeding Edge Mode -------------
needs noto sans symbols 2 or fonts with unicode 13.0 Symbols for Legacy Computing glyphs*/
/*Window.active Executable {
    outline: full $window-active;
    outline-top: none;
}
Window.active #title-bar{
    border-left: full $window-active;
    border-right: full $window-active;
}*/
/*---------------------------------------------*/
Window #title-bar Button{
    width: 3;
    &:focus {
        text-style: bold;
        background-tint: $success 30%;
    }
}
Window #window-title {
    width: 1fr;

}
Window #title-bar #exit-btn {
    color: $text-muted;
}
Window.active #title-bar,
Window.active #title-bar Button {
    background: $window-active;
    color: $text;
}
Window.active #title-bar #exit-btn {
    background: $error;
    color: $text;
}
Window.maximized {
    layer: maxed;
    width: 100%;
    height: 100%;
    offset: 0 0;
}

Window.active.edge-hover-left Executable{
    border: panel $window-active;
    border-left: panel $primary-lighten-2;
    border-top: none;
}
Window.active.edge-hover-right Executable{
    border: panel $window-active;
    border-right: panel $primary-lighten-2;
    border-top: none;
}
Window.active.edge-hover-bottom Executable{
    border: panel $window-active;
    border-bottom: panel $primary-lighten-2;
    border-top: none;
}
Window.active.edge-hover-top  #title-bar{
    border-left: panel $primary-lighten-2;
    border-right: panel $primary-lighten-2;
}
Window.active.edge-hover-top  #title-bar{
    background: $primary-lighten-2;
}
/* ---------- */
Taskbar {
    layer: ui;
    dock: bottom;
    height: auto;
    width: 100%;
    background: $panel;
    color: $text;
    height: 1;
}
Taskbar Button {
    background: $panel;
}
Taskbar Horizontal {
}
Taskbar #left-taskbar{

}
Taskbar #center-taskbar{
    width: auto;
}
Taskbar #right-taskbar{
    align-horizontal: right;
}
Clock {
}
WMLayout {
    outline-left: $surface tall;
    border-right: $panel-lighten-2  tall;
    color: $success;
}
/* ----- Start Menu ----- */
StartMenu{
    dock: bottom;
    margin-bottom: 1;
    layer: flyout;
    width: auto;
    height: auto;
    background: $panel;
}
/*TO Debug: scrollbars/layout recalculation inside categories*/
StartMenu OptionList {
    overflow: hidden hidden;
    width: auto;
    border: $boost outer;
    background: $primary-background-darken-1;
}
StartMenu OptionList .option-list--option-highlighted{
    overflow: hidden hidden;
    background: $success;
    color: $text;
}
StartButton {
    color: $text;
    height: 1;
    border: none;
    padding: 0 1;
}
/* ----- Misc ----- */
UIToast{
    display: none;

    layer: startmenu;
    position: absolute;
    height: 1;
    width: auto;
    padding: 0 3 0 3;
    color: $text;
    background: $panel;
    outline-left: $success wide;
}
UIToast.visible {
    display: block;
    position: absolute;
}
Taskbar UIButton {
    border-left: $boost tall;
    margin-left: 1;
}
Taskbar UIButton {
    color: $text;
    &:hover {
        background: $boost;
    }
    &.active {
        border-left: $success tall;
    }
    &:focus {
        text-style: bold;
        background-tint: $success 30%;
    }
}
ActiveWindowList {
    dock: bottom;
    layer: flyout;
    width: auto;
    height: auto;
    position: absolute;
    background: $panel;
    margin-bottom: 1;
}

ActiveWindowList OptionList {
    width: auto;
    height: auto;
    border: $boost outer;
    background: $primary-background-darken-1;
}
ActiveWindowList OptionList  .option-list--option-highlighted {
    background: $success;
    color: $text;
}
